.Header {
  display: flex;
  justify-content: end;
  align-items: flex-end;
  padding: 20px;
}
.Header div {
  padding: 0px 20px;
}
.ant-card-cover img {
  border-radius: 12px;
}
.ImgDiv {
  padding: 119px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 31px;
  place-items: center;
  column-gap: 0px;
}

.ImgDiv  img {
  width: 330px;
  height: 220px;
  border-radius: 8px;

}
